services:
  web:
    build:
      context: .
      dockerfile: Dockerfile_app
      args:
        VITE_PUBLIC_CORPUS_CREATOR_API_URL: ${VITE_PUBLIC_CORPUS_CREATOR_API_URL}
    container_name: binarizer
    ports:
      - "${BINARIZER_EXPOSED_PORT}:${BINARIZER_INTERNAL_PORT}"
    environment:
      API_PORT: ${BINARIZER_INTERNAL_PORT:-2001}
      SESSION_SECRET: ${SESSION_SECRET}
      VITE_PUBLIC_CORPUS_CREATOR_API_URL: ${VITE_PUBLIC_CORPUS_CREATOR_API_URL}
      INTERNAL_CORPUS_CREATOR_API_URL: ${INTERNAL_CORPUS_CREATOR_API_URL}
    env_file:
      - .env
    networks:
      - shared_network
    restart: on-failure
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'curl -sSf http://localhost:${BINARIZER_INTERNAL_PORT}/health || exit 1'" ]
      interval: 30s
      timeout: 10s
      retries: 5

networks:
  shared_network:
    external: true